.head {
    width: 100%;
    height: 10%;
}
.foot {
    width: 100%;
    height: 5%;
}
.media_scroller {
    width: 100%;
    height: 85%;
    --spacer1: 1rem;
    display: grid;
    grid-auto-columns: 28%;
    gap: var(--spacer1);
    grid-auto-flow: column;

    padding: var(--spacer1) var(--spacer1) var(--spacer1);

    overflow-x: auto;
}
.movie{
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    gap: var(--spacer1);
    padding: var(--spacer1);
    /* background: #e9ecef; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.future {
    background: aquamarine;
}
.date {
    
}
.movie > img {
    inline-size: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer1, 1rem);
}
.snaps-inline > * {
    scroll-snap-align: center;
}
.poster {
    border-radius: 5px;
}
.syno {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
}
.open-syno {
    visibility: visible;
}